<!-- IF U2F_REQ -->
<script>
    var req = {U2F_REQ};
    console.log("Loading with ", req);
    $(document).ready(function() {
        console.log("Loading U2F signing");

        if(!(bowser.chrome && bowser.version >= 41)) {
            $("#browser_supported").show();
        }

        u2f.sign(req, function(data) {
            $("#authenticate").value = JSON.stringify(data);
            $("submit_auth").submit();
        });

        setTimeout(function(){
            $("#no_response").show();
        }, 10000);
    });
</script>
<!-- ENDIF -->
<!-- IF U2F_REG -->
<script>
    var req = {U2F_SIGN_REQUEST};
    var sigs = {U2F_SIGN};

    if(!(bowser.chrome && bowser.version >= 41)) {
        $("#browser_supported").show();
        $("#add_key").hide();
    }

    $("#add_key").click(function() {
        console.log("Starting registration");
        $("#tfa_insert_key").show();
        $("#add_key").hide();

        setTimeout(function(){
            $("#no_response").show();
        }, 10000);

        u2f.register([req], sigs, function(data) {

            console.log("Register callback", data);
            if(data.errorCode) {
                phpbb.alert("{LA_TFA_ERROR}", "{LA_TFA_REG_FAILED}" + data.errorCode);
                $("#tfa_insert_key").hide();
                $("#add_key").show();
                return;
            }
            $("#register").value = JSON.stringify(data);
            $("#mode").value = "register";
            $("#ucp").submit();
        });
    });
</script>
<!-- ENDIF -->