<!-- IF U2F_REQ and S_TFA_U2F -->
<script>
    var req = {U2F_REQ};
    console.log("Loading with ", req);
    $(document).ready(function() {
        console.log("Loading U2F signing");

        if(!(bowser.chrome && bowser.version >= 41)) {
            $("#browser_supported").show();
        }
        else {
            u2f.sign(req, function (data) {
                console.log("Received sign response");
                $("#authenticate").val(JSON.stringify(data));
                $("#submit_auth").submit();
            });

            setTimeout(function () {
                $("#no_response").show();
            }, 10000);
        }
    });
</script>
<!-- ENDIF -->
<!-- IF U2F_REG -->
<script>
    var req = {U2F_SIGN_REQUEST};
    var sigs = {U2F_SIGN};

    if(!(bowser.chrome && bowser.version >= 41)) {
        $("#browser_supported").show();
        $("#add_key").hide();
    }

    $("#add_key").click(function() {
        console.log("Starting registration");
        $("#tfa_insert_key").show();
        $("#add_key").hide();

        var tm = setTimeout(function(){
            $("#no_response").show();
        }, 10000);

        u2f.register([req], sigs, function(data) {

            console.log("Register callback", data);
            if(data.errorCode) {
                var message = "{LA_TFA_REG_FAILED}" + data.errorCode + "," + data.errorMessage;
                if (data.errorCode == 4) {
                    // ErrorCode for is when the device is already added.
                    message = "{LA_TFA_REG_EXISTS}";
                }

                phpbb.alert("{LA_TFA_ERROR}", message);
                $("#tfa_insert_key").hide();
                $("#add_key").show();
                clearTimeout(tm);
                $("#no_response").hide();
                return;
            }
            $("#register").val(JSON.stringify(data));
            $("#md").val("register");
            $("#ucp").submit();
        });
    });
</script>
<!-- ENDIF -->