<!-- INCLUDE overall_header.html -->
<!-- INCLUDEJS @paul999_tfa/js/u2f-api.js -->
<!-- INCLUDEJS @paul999_tfa/js/bowser.js -->

<form action="{U_SUBMIT_AUTH}" id="submit_auth">
    <input type="hidden" name="authenticate" id="authenticate" />
    <input type="hidden" name="user" value="{USERNAME}" />
</form>

<div class="rules" style="display: none" id="no_response">
    <div class="inner">

        <strong>{L_FTA_NO_RESPONSE}</strong><br />
        {L_FTA_NO_RESPONSE_RECEIVED}

    </div>
</div>

<div class="rules" id="browser_supported" style="display: none">
    <div class="inner">

        <strong>{L_FTA_NOT_SUPPORTED}</strong><br />
        {L_FTA_BROWSER_SEEMS_NOT_SUPPORTED}

    </div>
</div>

<div class="navbar">
    <div class="inner">

       <strong>{L_FTA_INSERT_KEY}</strong><br />
       {L_FTA_INSERT_KEY_EXPLAIN}

    </div>
</div>
<!-- INCLUDE overall_footer.html -->