<!-- INCLUDE overall_header.html -->

<!-- INCLUDEJS @paul999/js/login.js -->
<!-- IF S_ERROR -->
    <p class="error">{S_ERROR}</p>
<!-- ENDIF -->

<!-- BEGIN tfa_options -->
    <ul>
        <li>
            <dl>
                <dt onclick="openAuth('#auth_{tfa_options.ID}');">{tfa_options.NAME}</dt>
            </dl>
        </li>
    </ul>
<!-- END tfa_options -->

<!-- BEGIN tfa_options -->
    <!-- IF tfa_options.S_TFA_INCLUDE_HTML -->
        <div id="auth_{tfa_options.ID}" <!-- IF not tfa_options.S_FIRST_ROW -->style="display:none "<!-- ENDIF -->>
            <form action="{tfa_options.U_SUBMIT_AUTH}" id="submit_auth" method="post">
                {S_FORM_TOKEN}
                <input type="hidden" name="random" value="{RANDOM}" />
                <input type="hidden" name="redirect" value="{REDIRECT}">
                <!-- INCLUDE {tfa_options.S_TFA_INCLUDE_HTML} -->
            </form>
        </div>
    <!-- ENDIF -->
<!-- END tfa_options -->
<!-- INCLUDE overall_footer.html -->