<!-- INCLUDE overall_header.html -->
<!-- INCLUDE_JS @paul999_tfa/js/u2f-api.js -->
<script>
    (function($) {
        var req = {U2F_REQ};
        $(document).ready(function() {
            console.log("Loading U2F signing");
            u2f.sign(req, function(data) {
                $("#authenticate").value = JSON.stringify(data);
                $("submit_auth").submit();
            });
        });

    });
</script>

<form action="{U_SUBMIT_AUTH}" id="submit_auth">
    <input type="hidden" name="authenticate" id="authenticate" />
    <input type="hidden" name="user" value="{USERNAME}" />
</form>
<!-- INCLUDE overall_footer.html -->