<form action="{U_SUBMIT_AUTH}" id="submit_auth" method="post">

    <div class="panel">
        <div class="inner">

            <h2>{L_FTA_OTP_KEY}</h2><br />
            <p>{L_TFA_OTP_KEY_EXPLAIN}</p>
            <input type="text" name="authenticate" value="" />
            <br />
            {S_FORM_TOKEN}
            <input type="hidden" name="random" value="{RANDOM}" />
            <input type="hidden" name="redirect" value="{REDIRECT}">
            <input type="submit" value="{L_SUBMIT}" />
        </div>
    </div>

</form>