<!-- INCLUDEJS @paul999_tfa/js/u2f-api.js -->
<!-- INCLUDEJS @paul999_tfa/js/bowser.js -->

<form action="{U_SUBMIT_AUTH}" id="submit_auth" method="post">

    <div class="panel">
        <div class="inner">

            <h2>{L_FTA_INSERT_KEY}</h2><br />
            <!-- INCLUDE tfa_browser_support.html -->
            {L_FTA_INSERT_KEY_EXPLAIN}
            {S_FORM_TOKEN}
            <input type="hidden" name="random" value="{RANDOM}" />
            <input type="hidden" name="redirect" value="{REDIRECT}">
            <input type="hidden" name="authenticate" id="authenticate" />
        </div>
    </div>

</form>