<!-- IF .u2f_keys -->
<table class="table1">
    <thead>
    <tr>
        <th class="name">{L_ID}</th>
        <th class="center">{L_TFA_REGISTERED}</th>
        <th class="center">{L_TFA_LAST_USED}</th>
        <th class="center mark">{L_DELETE}</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN u2f_keys -->
    <!-- IF u2f_keys.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
        <td>{keys.ID}</td>
        <td class="center">{u2f_keys.REGISTERED}</td>
        <td class="center">{u2f_keys.LAST_USED}</td>
        <td class="center mark"><input type="checkbox" name="keys[]" value="{u2f_keys.ID}" id="{u2f_keys.ID}" /></td>
    </tr>
    <!-- BEGINELSE -->
    <tr><td colspan="4" class="bg1" style="text-align: center">{L_TFA_NO_KEYS}</td></tr>
    <!-- END u2f_keys -->
    </tbody>
</table>
<!-- ENDIF -->