<!-- INCLUDE ucp_header.html -->

<!-- Based on ucp_profile_autologin_keys -->
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>


    <h2>{L_TITLE}</h2>
    <div class="panel">
        <div class="inner">
            <p>{L_TFA_KEYS}</p>
            <!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
            <table class="table1">
                <thead>
                <tr>
                    <th class="name">{L_ID}</th>
                    <th class="center">{L_TFA_REGISTERED}</th>
                    <th class="center">{L_TFA_LAST_USED}</th>
                    <th class="center mark">{L_DELETE}</th>
                </tr>
                </thead>
                <tbody>
                <!-- BEGIN keys -->
                <!-- IF keys.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
                    <td>{keys.ID}</td>
                    <td class="center">{keys.REGISTERED}</td>
                    <td class="center">{keys.LAST_USED}</td>
                    <td class="center mark"><input type="checkbox" name="keys[]" value="{keys.CLASS}_{keys.ID}" id="{keys.ID}" /></td>
                </tr>
                <!-- BEGINELSE -->
                    <tr><td colspan="4" class="bg1" style="text-align: center">{L_TFA_NO_KEYS}</td></tr>
                <!-- END keys -->
                </tbody>
            </table>
        </div>
    </div>

    <fieldset class="display-actions">
        {S_HIDDEN_FIELDS}
        <select name="new">
            <option>{L_TFA_SELECT_NEW}</option>
            <!-- BEGIN new_keys -->
            <option value="{new_keys.CLASS}">{new_keys.NAME}</option>
            <!-- END new_keys -->
        </select>
        <input type="submit" name="md" value="{L_TFA_NEW}" class="button1" />
        <input type="submit" name="md" value="{L_DELETE_MARKED}" class="button2" />
        <div><a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{L_UNMARK_ALL}</a></div>
        {S_FORM_TOKEN}
    </fieldset>


</form>

<!-- INCLUDE ucp_footer.html -->