<!-- INCLUDE ucp_header.html -->

<!-- Based on ucp_profile_autologin_keys -->
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>


    <h2>{L_TITLE}</h2>
    <div class="panel">
        <div class="inner">
            <p>{L_TFA_KEYS}</p>
            <!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
            <!-- EVENT paul999_tfa_ucp_list -->
        </div>
    </div>

    <!-- INCLUDE tfa_browser_support.html -->

    <fieldset class="display-actions">
        {S_HIDDEN_FIELDS}
        <!-- EVENT paul999_tfa_ucp_new -->
        <input type="hidden" name="md" id="md" value="delete" />
        <input type="submit" name="submit" value="{L_DELETE_MARKED}" class="button2" />
        <div><a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{L_UNMARK_ALL}</a></div>
        {S_FORM_TOKEN}
    </fieldset>


</form>

<!-- INCLUDE ucp_footer.html -->